# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
dist/
lib/
build/
coverage/

# Firebase
.firebase/
firebase-debug.log*
*.firebase.*

# Environment variables
.env
.env.*
!.env.example

# IDE specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/app.code-workspace

# OS specific
.DS_Store
Thumbs.db
